.navbar {
  background-color: 	#10B981;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.navbar-logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-welcome {
  font-size: 1rem;
}
 

.navbar__links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.navbar__link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  transition: color 0.3s;
}

.navbar__link:hover {
  text-decoration: none;
  background-color: #982bd3ad;
  color: #fff; 
  border: none;
  padding: 0.5rem 0.5rem;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar__logout {
  background-color: #10B981; 
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-size: 0.895rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
} 
.navbar__logout:hover {
  background-color: #d4ece4; 
} 